<div class="tw-flex tw-flex-col tw-p-8">
  <div class="tw-flex tw-items-center tw-mb-4">
    <img class="tw-h-20 tw-rounded-full tw-mr-4" src="https://avatar.oxro.io/avatar.svg?name={{data.user.fullname}}&length=1"/>
    <p class="mat-h1 name">Hi {{data.user.fullname}},</p>
  </div>
  <p mat-dialog-content class="mat-h4">We've noticed that you are already signed in, would you like to go to your dashboard or sign out from this account?</p>
  <div class="controls tw-flex tw-items-center tw-justify-end" mat-dialog-actions>
    <button mat-button  [mat-dialog-close]="data" (click)="signin()">dashboard</button>
    <button mat-button [mat-dialog-close]="data" (click)="signout()">sign out</button>
  </div>
</div>
