<div matRipple class="tw-p-4 tw-flex tw-justify-between tw-flex-col">
  <div class="tw-flex tw-items-center">
    <img class="tw-h-12 tw-mr-4 tw-rounded-full" src="https://avatar.oxro.io/avatar.svg?name={{(user).fullname}}&length=1"/>
    <p class="mat-h2 nomargin">Your Bio?</p>
  </div>

  <p class="description">Almost done setting up, we just need to get your physical address and your contact details. Maybe also, you could tell us more about your self?</p>
</div>

<!--This will show if the user information regarding this panel is present-->
<div class="done" *ngIf="user.bio">
  <mat-icon>done</mat-icon>
</div>

