<!--
Here we are going to develop in the front general website for the platform. Essentially we are going to have one
closed screen with a sign up or join dialog. We will have a navigation at the top of the screen that will have simple
links to about, help and the like.

We should then begin running through the layout of the application...
-->

<!--
This is the navigation bar down here...
-->
<app-navigation class="tw-w-full tw-h-16 tw-shadow tw-flex tw-justify-between tw-items-center navigation"></app-navigation>

<router-outlet></router-outlet>
