<div class="container {{toggle ? 'open' : 'close'}}">

  <!--
  We have two sections of content one for the main menu...
  -->
  <app-menu icon="support_agent" name="Debt Counsellors" [expanded]="toggle">
    <app-item [expanded]="toggle" icon="history">Counsellor Activity</app-item>
  </app-menu>
  <app-menu icon="work_outline" name="Client Management" [expanded]="toggle" [routerLink]="['clients']">
    <app-item [expanded]="toggle" icon="person_outline">All Clients</app-item>
    <app-item [expanded]="toggle" icon="analytics_outline">Client Analytics</app-item>
  </app-menu>
  <!--
  And the other for the users personalization and profile management...
  -->
  <app-menu [user]="user | async" [expanded]="toggle">
    <app-item [expanded]="toggle" icon="settings_outline">Account Settings</app-item>
    <app-item [expanded]="toggle" icon="help_outline">Help</app-item>
    <app-item [expanded]="toggle" icon="exit_to_app_outline" (click)="exit()">Sign Out</app-item>
  </app-menu>

  <mat-divider class="tw-w-10/12 tw-self-center"></mat-divider>
  <div *ngIf="user | async" class="tw-flex tw-justify-between tw-items-center tw-w-full tw-p-4 tw-py-3 tw-cursor-pointer version {{toggle ? 'open' : 'close'}}" matRipple>
    <p class="version tw-opacity-25">v1.0.0</p>
    <mat-icon color="primary" (click)="toggle = !toggle">chevron_left</mat-icon>
  </div>

</div>
