<div class="tw-w-2/3">
  <div class="tw-text-5xl tw-my-10">Created to Centralize</div>
  <div class="tw-text-base tw-opacity-50">
    <img src="assets/icons/dcf.png" alt="DCF" class="tw-h-6 tw-inline-block"> is a platform inspired to centralize debt counselling by guiding all involved parties to each other. If you are in need of a dept counselor, or in need of clients <img src="assets/icons/dcf.png" alt="DCF" class="tw-h-6 tw-inline-block"> helps put you in the right position to get clients or get assistance.
  </div>

  <button class="read" mat-button>read more...</button>
</div>
