
<!--
Here we have the logo to the far left
-->
<div class="tw-flex tw-items-center">
  <div matRipple class="tw-py-3 tw-px-4 tw-cursor-pointer tw-flex">
    <img class="tw-h-10" src="assets/icons/dcf.png" alt="DCF"/>
  </div>
  <div class="tw-h-10 tw-mx-4 vr"></div>
  <!--
  Here we should have a small annotation of navigation to illustrate the design better
  -->
  <p class="tw-font-thin tw-text-base dept">Debt Counselling</p>
</div>
<!--
Then the menu to the far right
-->
<div class="tw-flex tw-items-center tw-justify-between tw-mx-4 menu">
  <!--
  <app-search class="tw-flex tw-items-center tw-mx-8"></app-search>
  -->
  <!--
  Then down here we have the rest of the menu
  -->
  <button mat-button>Contact</button>
  <button mat-button>About</button>
  <button mat-button class="join" [routerLink]="toggle ? '' : 'authenticate'" (click)="toggle = !toggle">{{toggle ? 'Home' : 'Log in'}}</button>
</div>
