<div class="tw-flex tw-flex-col container">
  <!--
   so in here let us setup a loader or progress indicator and the form in general. let us make the loader into its
   own component.
   -->
  <div class="progress-container"><mat-progress-bar *ngIf="loading | async" mode="indeterminate" [color]="color"></mat-progress-bar></div>
  <!--
  Now let us begin setting up the inputs of the form and bind it into the frame. we will also have to put the logo
  in and the title of the form so that the user is able to tell from just the title what they will need to do.
  finally we will also need to add in google and facebook sign in so that the user is able to use those platforms
  to gain access to the system.
  -->
  <div class="tw-flex tw-justify-center tw-mt-6 tw-items-center">
    <img src="assets/icons/dcf.png" alt="DCF" class="tw-h-12 tw-mr-8"/>
    <p class="mat-h1 title"> sign in</p>
  </div>

  <!--
  Now let us start by defining one input field and separating it into its own component so that we are able to reuse
  it. With that said we will make a username input field and modify the configurability so that we can have a password
  configurability.
  -->
  <form class="tw-mx-16 tw-justify-around signin" [formGroup]="signinform" (ngSubmit)="signin()">
    <!--
    Reconsidering the input fields, i guess we could leave them here as is to give them more thought especially
    because these may need to become a global component.
    so let us now add in the submission controls as other similar controls.
    -->
    <mat-form-field appearance="outline">
      <mat-label>Email Address</mat-label>
      <input matInput [errorStateMatcher]="matcher" formControlName="username"
             placeholder="username@example.com">
      <mat-hint>please enter your e-mail address.</mat-hint>
      <mat-error *ngIf="signinform.get('username').hasError('username') && !signinform.get('username').hasError('required')">
        Please enter a valid e-mail address
      </mat-error>
      <mat-error *ngIf="signinform.get('username').hasError('required')">
        E-mail address is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input [type]="visibility ? 'text' : 'password'" matInput [errorStateMatcher]="matcher" formControlName="password">
      <mat-icon class="visibility" matSuffix [ngClass]="visibility ? 'show' : 'hide'" (click)="visibility = !visibility">{{visibility ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-hint>please enter your DCF password.</mat-hint>
      <mat-error *ngIf="signinform.get('password').hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="signinform.get('password').hasError('minlength')">
        Please enter a valid password
      </mat-error>
    </mat-form-field>

    <!--
    let put the controls in a row here
    -->
    <div class="tw-flex tw-justify-between tw-items-center form-controls">
      <p (click)="tabbed.emit()">forgot password?</p>

      <button mat-button [disabled]="!signinform.valid" type="submit">sign in</button>
    </div>
    <!--
    Here we will have the error messages displayed
    -->
    <mat-error class="tw-mt-6 message">{{(error | async)?.message}}</mat-error>
  </form>
</div>
