
<!--
Here we will put the content of the page...we will flex it row wise
-->
<div class="tw-flex tw-my-20">
  <!--
  So in here we are going to have two panels to display a splash jumbo as well as the actual joining dialog...
  -->
  <app-left class="tw-flex tw-flex-col tw-flex-1 tw-justify-center tw-items-center"></app-left>
  <app-join class="tw-flex tw-flex-col tw-flex-1 tw-justify-center tw-items-center"></app-join>
</div>

<!--
Here we will need to put up some descriptive content so that it will be the about us section for now
-->
<!--
<div class="tw-flex tw-mb-20">
  <app-about></app-about>
</div>
-->

<!--
Here we will have the footer of the page
-->
<app-footer></app-footer>
