.submit {
  background: #455a64;
  color: white;
}
.content {
  width: 55%;
}
.font {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.progress {
  min-height: 4px;
}
.error {
  min-height: 28px;
}
.size {
  font-size: 9pt;
}
