<div class="content">
  <div class="tw-mb-6 progress"><mat-progress-bar *ngIf="loading | async" mode="indeterminate"></mat-progress-bar></div>

  <div class="tw-text-3xl tw-mb-6">Join <img src="assets/icons/dcf.png" alt="DCF" class="tw-h-12 tw-inline-block">, it's free</div>

  <form class="tw-flex tw-flex-col" [formGroup]="signup" (ngSubmit)="create()">
    <mat-form-field appearance="outline">
      <mat-label>Email Address</mat-label>
      <input matInput formControlName="username" class="font" type="email" required/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="fullname" class="font" required/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Join As</mat-label>
      <mat-select formControlName="access" class="font" required>
        <mat-option value="user">User</mat-option>
        <mat-option value="counselor">Counselor</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="tw-flex tw-w-full">
      <mat-form-field appearance="outline" class="tw-mr-4 tw-flex-1">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" class="font" type="password" required/>
      </mat-form-field>
      <mat-form-field appearance="outline" class="tw-flex-1">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirm" class="font" type="password" required/>
      </mat-form-field>
    </div>
    <mat-hint class="tw-mb-4 size">
      Make sure it's at least 15 characters OR at least 8 characters including a number and a lowercase letter.
    </mat-hint>
    <button [disabled]="!signup.valid" mat-button class="submit">Sign up for DCF</button>
    <mat-hint class="tw-mt-4 size">
      By clicking “Sign up for DCF”, you agree to our Terms of Service and Privacy Statement. We’ll occasionally send you account related emails.
    </mat-hint>
    <div class="error"><mat-error class="tw-mt-2 size" *ngIf="error | async">{{(error | async).message}}</mat-error></div>
  </form>
</div>
