<div matRipple class="tw-p-4 tw-flex tw-w-full tw-h-full tw-justify-between tw-flex-col">
  <div class="tw-flex tw-items-center">
    <img class="tw-h-12 tw-mr-4" src="assets/icons/dcf.png" alt="DCF"/>
    <p class="mat-h1 nomargin">Welcome!</p>
  </div>

  <p class="description">Congratulations, you have signed up successfully. Now you can get started by setting up your profile information &amp; and personalization your dashboard to your liking</p>
</div>

<!--This will show if the user information regarding this panel is present-->
<div class="done">
  <mat-icon>done</mat-icon>
</div>
