:host {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column;

  font-family: "Times New Roman", sans-serif;
}
.left, .right {
  position: absolute;
  z-index: 1;
  background: #FFFA;
}
.left {
  left: 8px;
}
.right {
  right: 8px;
}

.start, .end {
  transition: left 300ms;
}
.start {
  left: 0;
}
.end {
  left: -80px
}
.getting {
  background: #455a64;
  color: white;
  align-self: flex-end;
}

.color {
  fill: #455a64;
}


.update {
  width: min-content;
  align-self: flex-end;
  background: #455a64;
  color: white;
}

.name {
  margin-bottom: 24px;
  margin-left: 20px;
}

.container {
  transition: left 320ms;
  left: 0;
}
