
<div class="tw-flex tw-mx-48 tw-my-24 tw-items-center">
  <svg class="tw-h-32 tw-mb-32 color" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 496 496" xml:space="preserve">
    <path d="M428,24H100V8c0-4.418-3.582-8-8-8H68c-4.418,0-8,3.582-8,8v480c0,4.418,3.582,8,8,8h24c4.418,0,8-3.582,8-8V296h328     c4.418,0,8-3.582,8-8V32C436,27.582,432.418,24,428,24z M84,480h-8V16h8V480z M420,120h-80v80h80v80h-80v-80h-80v80h-80v-80h-80     v-80h80V40h80v80h80V40h80V120z"/>
    <rect x="180" y="120" width="80" height="80"/>
  </svg>
  <div class="tw-flex tw-flex-col tw-ml-8">
    <p class="mat-h1">Getting Started</p>
    <p class="mat-h3 tw-opacity-75">
      Welcome to the DCF community, thanks for joining!
    </p>

    <p class="mat-h4 tw-opacity-75">
      To get started, we need to get you ready for your potential counsellor. To do that, you will need to provide us with
      more information about you, and your finances. We will then take a look at what you have provided us and find you
      the most suitable counsellor.
    </p>
    <p class="mat-h4 tw-opacity-75">
      Of course, you will be able to find your own counsellor, simply search for them by their name and get into a chat
      with them about your counselling.
    </p>

    <button class="getting" mat-button (click)="next()">get started</button>
  </div>
</div>
