
<div class="tw-flex tw-flex-1 tw-mx-48 tw-my-16 te-items-start">
  <div class="tw-flex tw-flex-col">
    <p class="mat-h1 name">{{user.fullname}}</p>
    <img class="tw-h-48 tw-rounded-full tw-mr-12" src="https://avatar.oxro.io/avatar.svg?name={{user.fullname}}&length=1"/>
    <div class="tw-w-48 tw-mt-8 tw-text-center tw-opacity-50">
      Tell us more about who you are, update your avatar and provide your physical address.
    </div>
  </div>
  <form class="tw-flex-1 tw-flex-col tw-flex" [formGroup]="personal">
    <div class="tw-flex">
      <mat-form-field appearance="outline" class="tw-flex-1">
        <mat-label>PIN</mat-label>
        <input matInput formControlName="pin"/>
        <mat-hint>Enter your personal identity number</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" class="tw-flex-1 tw-ml-8">
        <mat-label>Mobile</mat-label>
        <input matInput formControlName="mobile"/>
        <mat-hint>Enter your mobile number</mat-hint>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="tw-mt-4 tw-flex-1">
      <mat-label>Physical Address</mat-label>
      <textarea matInput formControlName="physical"></textarea>
      <mat-hint>Please enter your physical address</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="tw-mt-4 tw-flex-1">
      <mat-label>Postal Address</mat-label>
      <textarea matInput [formControl]="personal.get('postal').get('address')"></textarea>
      <mat-hint>Enter your postal address</mat-hint>
    </mat-form-field>

    <mat-checkbox class="tw-mt-8" #marital>Are you currently married?</mat-checkbox>
    <mat-hint class="tw-mt-2">Click the checkbox if you have a spouse</mat-hint>

    <div class="tw-flex tw-flex-col" *ngIf="marital.checked">
      <div class="tw-mt-8">
        <mat-hint>Please enter the details of your spouse below</mat-hint>
      </div>

      <div class="tw-flex">
        <mat-form-field appearance="outline" class="tw-flex-1">
          <mat-label>PIN (spouse)</mat-label>
          <input matInput [formControl]="personal.get('marital').get('pin')"/>
          <mat-hint>enter your spouses personal identity number</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="tw-flex-1 tw-ml-8">
          <mat-label>Full Name (spouse)</mat-label>
          <input matInput [formControl]="personal.get('marital').get('fullname')"/>
          <mat-hint>please enter your spouses full name</mat-hint>
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline" class="tw-w-1/2 tw-mt-4">
        <mat-label>Number of Dependents</mat-label>
        <input matInput [formControl]="personal.get('marital').get('dependents')"/>
        <mat-hint>please enter the number of dependents that you have.</mat-hint>
      </mat-form-field>

    </div>
    <div class="tw-flex tw-justify-between tw-mt-10">
      <mat-progress-spinner *ngIf="loading | async" mode="indeterminate" diameter="28"></mat-progress-spinner>
      <div></div>

      <button [disabled]="!personal.valid" mat-button class="update" (click)="submit($event)">update</button>
    </div>
  </form>
</div>
