
<div class="tw-p-6">
  <p class="mat-h2">Monthly Expenses</p>
  <div class="tw-mb-4"><mat-hint>Please enter all client monthly expenses below by clicking the add button to add more expenses</mat-hint></div>

  <div class="tw-flex">
    <form [formGroup]="debts">
      <div class="tw-flex tw-items-start expense" *ngFor="let section of debts.controls['expenses']['controls']">
        <mat-form-field appearance="outline">
          <mat-label>Expense Name</mat-label>
          <input matInput required [formControl]="section.get('name')" />
        </mat-form-field>
        <mat-form-field class="tw-mx-4" appearance="outline">
          <mat-label>Amount</mat-label>
          <input matInput required [formControl]="section.get('amount')" />
        </mat-form-field>
        <button class="button" *ngIf="debts.controls['expenses']['controls'].indexOf(section) == debts.controls['expenses']['controls'].length - 1" mat-icon-button (click)="addexpense()"><mat-icon color="primary">add</mat-icon></button>
        <button class="button" *ngIf="debts.controls['expenses']['controls'].indexOf(section) != debts.controls['expenses']['controls'].length - 1" mat-icon-button (click)="removeexpense(debts.controls['expenses']['controls'].indexOf(section))"><mat-icon color="warn">delete</mat-icon></button>
      </div>
    </form>
    <div class="tw-flex tw-justify-center tw-items-center"></div>
  </div>
  <div class="tw-flex tw-justify-between">
    <button  [disabled]="!debts.valid" mat-button class="update" (click)="submit()">update client expenses</button>
    <mat-error *ngIf="error | async">{{(error | async).message}}</mat-error>
    <mat-progress-spinner mode="indeterminate" diameter="24" *ngIf="loading | async"></mat-progress-spinner>
  </div>
</div>
