
<div class="tw-p-6">
  <p class="mat-h2">Expenses Management ({{data.client.fullname}})</p>
  <div class="tw-mb-4"><mat-hint>Manage client expenses with open discussions on methods to avail more funds with you client.</mat-hint></div>

  <div class="tw-flex">
    <form [formGroup]="debts">
      <div class="tw-flex tw-items-start expense" *ngFor="let section of debts.controls['expenses']['controls']">
        <mat-form-field appearance="outline">
          <mat-label>Expense Name</mat-label>
          <input matInput required [formControl]="section.get('name')" />
        </mat-form-field>
        <mat-form-field class="tw-mx-4" appearance="outline">
          <mat-label>Amount</mat-label>
          <input matInput required [formControl]="section.get('amount')" />
        </mat-form-field>
        <button class="button" *ngIf="debts.controls['expenses']['controls'].indexOf(section) == debts.controls['expenses']['controls'].length - 1" mat-icon-button (click)="addexpense()"><mat-icon color="primary">add</mat-icon></button>
        <button class="button" *ngIf="debts.controls['expenses']['controls'].indexOf(section) != debts.controls['expenses']['controls'].length - 1" mat-icon-button (click)="removeexpense(debts.controls['expenses']['controls'].indexOf(section))"><mat-icon color="warn">delete</mat-icon></button>
      </div>
    </form>
    <div class="tw-flex tw-justify-center tw-items-center tw-flex-1 tw-flex-col deductions">
      <div class="tw-flex tw-justify-center tw-items-center income">
        <button mat-button>Income Statement <mat-icon>get_app</mat-icon></button>
      </div>
      <p>Gross Income is <strong>{{data.client.income.gross | currency: 'E'}}</strong>, with statutory deductions of <strong>{{data.client.income.deductions | currency: 'E'}}</strong> and total debt of <strong>{{ totaldebts() | currency: 'E' }}</strong>.</p>

      <p>Total Expenses:</p>
      <p class="available">{{totalexpenses() | currency: 'E'}}</p>

      <p>Current Available amount (Before Debts):</p>
      <p class="available">{{(remainder() + totaldebts()) | currency: 'E'}}</p>

      <p>
        <mat-icon color="primary" matTooltip="The goal for optimizing expenses is to maximize the available funds so as to allow room for re-scheduling of debts.">help_outline</mat-icon>
      </p>
    </div>
  </div>
  <div class="tw-flex tw-justify-between">
    <button  [disabled]="!debts.valid" mat-button class="update" (click)="submit()">update client expenses</button>
    <mat-error *ngIf="error | async">{{(error | async).message}}</mat-error>
    <mat-progress-spinner mode="indeterminate" diameter="24" *ngIf="loading | async"></mat-progress-spinner>
  </div>
</div>
